* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f1f1;
}

/* Header/Blog Title */



/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #2F4F4F;
  
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #FF6347;
  color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  padding-left: 10px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 10px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.cecert{
    padding: 20px;
    background-image:url(img/2.jpg);
    background-repeat: no-repeat;
}
.pone{
	padding: 20px;
    background-image:url(img/3.jpg);
    background-repeat: no-repeat;
  	margin-left: 80px;
}
.ptwo{
	padding: 20px;
    background-image:url(img/8.png);
    background-repeat: no-repeat;
  	margin-left: 80px;
}
.pthree{
	padding: 20px;
    background-image:url(img/9.png);
    background-repeat: no-repeat;
  	margin-left: 80px;
}
.pop1{
	padding: 20px;
    background-image:url(img/4.png);
    background-repeat: no-repeat;
}
.pop2{
	padding: 20px;
    background-image:url(img/u11.jpg);
    background-repeat: no-repeat;
}
.pop3{
	padding: 20px;
    background-image:url(img/7.png);
    background-repeat: no-repeat;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  color: #FFF;
  text-align: center;
  background: #2F4F4F;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
